.hero-page-content {
    --_promo-scale: 1;
}

.hero-page-content>section {
    min-height: 50svh;
    display: flex;
    position: relative;

    

}

.hero-page-content section:nth-of-type(1) {
    min-height: 90svh;
    flex-direction: column;
    
    background-attachment: fixed;
    z-index: 1;

}

.loading-skeleton{
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 5 !important;
    background-color: rgb(243, 243, 243) !important;
    opacity: 1 !important;
    transition: opacity 0.3s ease-in-out !important;
}

.finished-skeleton{
    opacity: 0;
}

.hero-img{
    position: absolute;
    width: 100%;
    height: 100%;
   
    object-fit: cover;
    object-position: center; 
  
    
}


.hero-img-placeholder{
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1 !important;
    top: 0;
    left: 0;
}

.masked-text-wrapper {

    text-align: center;
    position: relative;
    margin-block: 12px;
    z-index: none;
    top: -60px
}

.text-default, .text-underneath{
    font-size: var(--fs-5xl);
    font-weight: 700;
    margin: 0;
    padding-inline: 24px;
    text-transform: uppercase;
    user-select: none;
}

.text-default {
    mix-blend-mode: lighten;
    background-color: var(--light-clr);
    width: 100%;
    
}

.text-underneath {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primary-clr-600);
    line-height: 1.2;
    animation: rectangle 8s infinite;
    
}

.cta-scroll-down-icon-container {
    width: var(--fs-4xl);
    aspect-ratio: 1/1;
    background-color: transparent !important;
    border-radius: 50% !important;
    padding: 0 !important;
    color: var(--primary-clr);
    margin-bottom: 4rem !important;
}


.cta-chevron-icon {
    width: 100% !important;
    height: 100% !important;
    color: var(--light-clr);
    transform: scale(1.5) rotate(90deg);
    transition: color 0.3s ease-in-out !important;

}

.cta-scroll-down-icon-container:hover .cta-chevron-icon {
    color: var(--primary-clr-600);
}

.cta-box {
    height: max(50%, 300px);
    bottom: -250px;
    overflow: hidden;
    border-radius: 0px;
    border: calc(6px + 0.25vw) solid var(--light-clr);
    z-index: 2;
    

}

.cta-box > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: calc(6px + 0.5rem);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative;
}

.cta-box div:nth-of-type(1) {
    background-color: var(--primary-clr);
}


.cta-box div:nth-of-type(1):hover {
    background-color: var(--primary-clr-800);

}

.cta-box div:nth-of-type(2):hover {
    background-color: var(--tertiary-clr-800);

}

.cta-box div:nth-of-type(2) {
    background-color: var(--tertiary-clr);
}

.cta-title {
    color: var(--light-clr);
    text-transform: uppercase;
    font-weight: 900;
    font-size: var(--fs-3xl);
    letter-spacing: 5px;
    align-self: center;

}

.cta-desc {
    color: var(--light-clr-accent);
    font-size: var(--fs-base);
    font-weight: 500;

}

.cta-icon {
    fill: var(--light-clr) !important;
    margin-inline: auto;
    width: calc(4vw + 24px) !important;
    height: auto !important;
}


.hero-page-content section:nth-of-type(2) {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}

.hero-page-content section:nth-of-type(2) ul {
    position: relative;
    
    padding: 0;
}

/* .hero-page-content section:nth-of-type(2) ul::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-clr);
    z-index: 1;
    opacity: 0.2;
} */

.hero-page-content section:nth-of-type(2) ul>li {
    min-height: 80svh;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.hero-page-content section:nth-of-type(2) ul>li div {
    width: 60%;
    font-family: 'Libre Bodoni';
    color: var(--light-clr);
    font-size: var(--fs-3xl);
    font-weight: 400;
    letter-spacing: calc(2px + 0.05rem);
    text-transform: uppercase;
    z-index: 2;
}

.hero-page-content section:nth-of-type(2) ul>li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
}



.hero-page-content section:nth-of-type(3),
section:nth-of-type(4) {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 24px;
    padding-block: 24px;

}

.hero-page-content section:nth-of-type(3) h2 {

    color: var(--dark-clr);
    font-size: var(--fs-lg);
    font-weight: 700;

}

.hero-page-content section:nth-of-type(3) ul {
    padding: 0;

}

.botw {
    
    
    padding-left: 0;
    margin-bottom: 0;
}

.botw-item:nth-of-type(1) {

    margin-bottom: calc(12px + 1rem);
}

.botw-item:nth-of-type(1) h2 {
    font-size: var(--fs-xl);
    font-weight: 700;
    margin: 0;
}

.botw-item:nth-of-type(2) {
    margin-bottom: calc(72px + 1rem);
    transition: transform 0.3s ease-in-out;
}

.botw-item:nth-of-type(2) img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.botw-item:nth-of-type(3) button {
    padding: 1rem;
    font-size: var(--fs-base);
    color: var(--light-clr);
    background-color: var(--dark-clr);
    width: 75%;
}

.hero-page-content section:nth-of-type(4) div {
    background-color: var(--light-clr-bg);
    min-height: 70svh;
    overflow: hidden;
}


.botw-promo-link button:hover{
    --_promo-scale:1.05;
}
.botw-promo-img{
    min-height: 70svh;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.botw-promo-img,
.botw-brand-title {
  transform: scale(var(--_promo-scale)); 
  transition: transform 0.3s ease;
}











@keyframes moveLinesBefore {

    0%,
    100% {
        left: 50%;
    }

    50% {
        left: 30%;
    }
}

@keyframes moveLinesAfter {

    0%,
    100% {
        left: 70%;
    }

    50% {
        left: 50%;
    }
}

@keyframes rectangle {

    0%,
    100% {
        clip-path: polygon(55% 0, 80% 0, 60% 100%, 35% 100%);
    }

    50% {
        clip-path: polygon(35% 0, 60% 0, 40% 100%, 15% 100%);
    }
}

@media (max-width:1400px) {
    .hero-page-content section:nth-of-type(2) ul>li div {

        font-size: var(--fs-2xl);
        width: 80%;
    }
}

@media (max-width:992px) {
    .hero-page-content section:nth-of-type(2) ul>li div {

        font-size: var(--fs-2xl);
        width: 100%;
    }
    .hero-page-content section:nth-of-type(1) {
        min-height: calc(100svh - 124px - 60px);
    }
    .cta-title {
        font-size: var(--fs-2xl);
    }
    .cta-box {
        height: fit-content;
        bottom: -150px;
    }

    .masked-text-wrapper {
        top: 0;
    }
}

@media (max-width: 768px) {
    
    .hero-page-content section:nth-of-type(2) ul>li div {

        font-size: var(--fs-3xl);
        background-color: #b8677654;
    }

    .text-default,
    .text-underneath {
        font-size: var(--fs-5xl);
    }
}

@media (max-width: 576px) {
    .cta-title {
        font-size: var(--fs-lg);
        font-weight: 700;
    }

    

    .hero-page-content section:nth-of-type(2) ul>li div {

        font-size: var(--fs-2xl);
        background-color: #b8677654;

    }

    .text-default,
    .text-underneath {
        font-size: var(--fs-5xl);
    }

}

@media (orientation: landscape) and (max-height: 500px) {
    .hero-page-content section:nth-of-type(1) {
       min-height: 150svh;
    }

    .text-default,
    .text-underneath {
        font-size: var(--fs-4xl);
    }

    .masked-text-wrapper {
        
        margin-top: calc((10svh + 3rem));
    }
    

    .hero-page-content section:nth-of-type(2) ul>li{
        height: 200svh;
    }

    .hero-page-content section:nth-of-type(4){
        height: fit-content !important;
    }
}





.spring-btn div h2 {

    color: var(--light-clr);
    font-size: var(--fs-base);
    font-weight: 500;
    font-family: 'Poppins';
    margin: 0;
    padding-block: 1rem;
    transition: color 0.3s ease-in-out;

}

.spring-btn {
    
    padding-left: 1.2rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-base) !important;
    background-color: var(--dark-clr);
    min-width: 300px;
    position: absolute;
    bottom: 48px;
    z-index: 2;
    border-top: 0;
    border-bottom: 0;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    border-radius: 0;
    border-right: 2px solid var(--primary-clr-600);
    text-align: center;
    text-decoration: none;
  }

  .spring-btn:before,
  .spring-btn:after {
    content: "";
    position: absolute;
    transition: inherit;
    z-index: -1;
    top: 0;
    width: 0;
    height: 100%;
  }

  .spring-btn:before {
    right: 0;
    border: 2px solid var(--primary-clr-600);
    border-left: 0;
    border-right: 0;
  }
  
  .spring-btn:after {
    left: 0;
    border-left: 2px solid var(--primary-clr-600);
  }
  
  .spring-btn:hover::before,
  .spring-btn:hover::after {
    width: 100%;
  }

  .spring-btn:hover  {
    
    transition-delay: 0.5s;
  
  }
  
  .spring-btn:hover div h2{
    transition-delay: 0.5s;
  
  }
  
  .spring-btn:hover::before {
    transition-delay: 0s;
  }
  
  .spring-btn:hover::after {
    background: var(--primary-clr-600);
    transition-delay: 0.35s;
  }


  /* /////////////////////////////////////////////////////////// */
  
  .spring-btn:focus div  {
    color: var(--dark-clr);
    transition-delay: 0.5s;
  
  }

  
  .spring-btn:focus::before {
    transition-delay: 0s;
  }
  
  .spring-btn:focus::after {
    background: var(--primary-clr-600);
    transition-delay: 0.35s;
  }

  
  
