.item-list {
   
    list-style: none;
}

.item {
    min-height: 60svh;
    aspect-ratio: 1/1.5;
    position: relative;
    padding: 0;
    
}
.item a{
    padding-inline: 6px;
    overflow: hidden;
}

.browsing-item-list{
   
    list-style: none;
    padding: 0;
    
    display: grid;
    grid-gap: calc(6px + 0.5rem);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 0;
}

.browsing-item{
    position: relative;
    max-height: 70svh;
    aspect-ratio: 1/1.75;
}


.item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    
   transition: opacity 0.3s ease-in-out; 
   
}



 #img-1:hover {
    opacity: 0;
    
}  



.item-description{
    background-color: var(--light-accent);
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    
    overflow: hidden;
    padding: calc(6px + 0.1rem); 
}



.item-description > p{
    font-size: var(--fs-sm);
    margin: 0;
    color: var(--dark-clr);
}

.item-description p:nth-of-type(1){
    font-size: var(--fs-base);
    font-weight: 600;
}
.item-fav-btn-container{
    position: absolute !important;
    top: 0;
    right: 0;
    padding: 2px;
    background-color: transparent;
    z-index: 2 !important;
    width: fit-content;
    aspect-ratio: 1/1;
}

.item-fav-btn{
    
    background-color: transparent !important;
    aspect-ratio: 1/1;
    width: calc(24px + 1rem) ;
}
.item-fav-icon {
    stroke: var(--primary-clr);
    fill: transparent !important;
    overflow: hidden;
    position: relative;
    transition: fill 0.3s ease-in-out;
    font-size: var(--fs-md) !important;
    width: calc(12px + 1rem) !important;
    height: calc(12px + 1rem) !important;
}

.item-fav-icon-active {
    
    fill: var(--primary-clr)!important;
   
}
.item-fav-btn:hover .item-fav-icon{
    
   fill: var(--primary-clr) !important;
    
}



.test{
    filter: blur(10px);
}



@media (max-width: 1400px) {
    .browsing-item{
        max-height:none;  
        /* width: calc(33.333% - 12px); */
    }
    
}

@media (max-width: 992px) {
    .browsing-item{
        max-height:none;  
        /* width: calc(50% - 12px); */
    }

    .item-fav-btn{
    
        
        width: calc(36px + 1rem) ;
    }
    .item-fav-icon {
       
        width: calc(24px + 1rem) !important;
        height: calc(24px + 1rem) !important;
    }
    
}

@media (max-width: 768px) {
    .browsing-item{
        padding-inline: 0px;
        /* width: calc(50% - 12px); */
        aspect-ratio: 1/1.5;
        justify-self: center;
        width: 100%;
        
    }
    

    .browsing-item-list{
        padding-inline: 10px !important;
    }
    
}

@media (max-width: 576px) {
    .browsing-item{
        padding-inline: 0px;
        max-height: 80svh;
        
    }

    .browsing-item-list{
        
        column-gap: 0;
        row-gap: 24px;
        
        
    }
    
}
