.favorites-container{
    --_padding-top: 148px;
    --_padding-inline: calc(6px + 0.25rem + 5vw);
    min-height: 20svh;
    
   
    
}

.favorites-container h1{
    width: fit-content;
    font-size: var(--fs-lg);
    font-weight: 700;
    color: var(--dark-clr);
    margin: calc(12px + 0.5rem) 0 calc(22px + 0.5rem) 0;
}



@media (max-width: 1400px) {
    .favorites-item{
        padding-inline: 10px;
    }

    
}