.top-nav{
    background-color: var(--light-clr);
    width: 100%;
    height: 184px;
    position: fixed;
   
    box-shadow: none;
    transform: translateY(0%);
    
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 3 !important;
    
}


.nav-mobile{
    background-color: transparent;
    
}

.top-nav .nav-main-section{
    margin-top: 12px;
}


.nav-link-list, .nav-icon-list{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
   
}

.nav-icon-list > li{
    margin: 0;
    width: 50px;
}


.nav-link-list > li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
   
    padding-inline: 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: var(--dark-clr);
    transition: color 0.3s ease-in-out !important;
    font-size: var(--fs-base);
    
}

.nav-link:hover {
    
    color: var(--primary-clr);
}



.categories-brands-expander{
    --_expander-height: 200%;
   
    
    background-color: var(--light-clr);
    
    top: 100%;
    
    height: 60px;
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.categories-brands-list{
    list-style: none;
    
    padding-block: calc(12px + 0.5rem);
    padding-left: 0;
    background-color: var(--light-clr);
    margin: 0;
    height: 100%;
   
}

.categories-list-container{
    background-color: var(--light-clr);
}
 


.categories-list-promo{
    background-color: var(--primary-clr-light);
    position: relative;
}

.categories-list-promo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.categories-list-promo button{
    border: 1px solid var(--primary-clr-light);
    background-color: var(--primary-clr-light);
    font-size: var(--fs-sm);
    font-weight: 400;
    color: var(--light-clr);
}

.categories-list-promo button:hover{
    
    background-color: var(--primary-clr-light);
    font-size: var(--fs-sm);
    font-weight: 400;
    
}



.categories-brands-list li > a{
    height: fit-content;
    
   
    text-decoration: none;
    color: var(--dark-clr-faded);
    position: relative;
    transition: color 0.3s ease-in-out;
    
}

.categories-brands-list li > a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: var(--primary-clr);
    height: 2px;
    transition: width 0.3s ease-in-out;
}

.categories-brands-list li a:hover::before {
    
    width: 100%;
    
    
}
.categories-brands-list li a:hover{
    color: var(--primary-clr);
}
.expander-item:hover{
    height: 100%;
}

.MuiTextField-root{
    width: 100%;
    
}

.nav-icon-link{
    position: relative;
    margin-right: calc(6px + 0.25rem);
    width: calc(24px + 0.5rem) !important;
    height: calc(24px + 0.5rem) !important; 
    display: block;
}

.nav-icon{
    color: var(--dark-clr);
    transition: color 0.3s ease-in-out !important;
    width: calc(24px + 0.5rem) !important;
    height: calc(24px + 0.5rem) !important; 
    
}

.nav-icon:hover{
    color: var(--primary-clr);
}

.nav-bar-banner{
    
    height: 29.6px;
    transition: height 0.3s ease-in-out;
}



.banner-changed {
    height: 7.4px;
}

.banner-changed ul > li{
    transform: scale(0);
}

.icon-product-counter{
    background-color: var(--primary-clr-light-faded);
    position: absolute;
    top: -33.33%;
    right: -33.33%;
    width: 66.66%;
    aspect-ratio: 1/1;
    border-radius: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-clr);
    font-size: var(--fs-sm);
    font-weight: 300;
}


.hamburger-container{
    background-color: var(--primary-clr-light-faded);
    padding: calc(0.25rem + 6px);
    position: relative;
}

.hamburger-react{
    position: absolute !important;
    color: var(--dark-clr-faded);
}

#cart-btn{
    background-color: transparent;
    border: 0;
    padding: 0;
}

.search-bar{
    position: relative;
}

.search-bar-focused{
    z-index: 9999;
}

.search-suggestions{
    position: absolute;
    bottom: -200px;
    left: 0;
    width: calc(100% - 0.75px);
    min-height: 200px;
    transform-origin: 100% 0;
    transform: scaleY(0);
    background-color: var(--light-clr);
    transition: transform  0.1s  ease-in-out;
}

.search-suggestions-focused{
    position: absolute;
    bottom: -200px;
    left: 0;
    border: 2px solid var(--primary-clr-light-faded);
    border-top: 0;
   
    transform: scaleY(1);
    transform-origin: 100% 0;
    transition: transform  0.3s 0.3s ease-in-out;
} 

.search-bar-backdrop{
   
    z-index: 9998 !important;
}

.logo-link{
    text-decoration: none;
    color: black;
    font-size: var(--fs-lg);
    font-weight: 700;
}
@media (max-width: 992px) {
    .top-nav{
        height: fit-content;
        background-color: transparent;
    }
    .nav-box-shadow{
        box-shadow:none;
    }

    
}

@media (min-width: 993px) {
    .nav-box-shadow{
        /* box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12); */
        
    }
    .nav-position{
        position: fixed;
    }

    .navbar-changed{
        background-color: var(--light-clr);
        transform: translateY(-100%);
        transition: transform 0.3s ease;
        
    }

    
    
}

@media (max-width: 576px) {
    .nav-bar-banner{
    
        height: 7.4px;
        
    }

    .nav-bar-banner ul > li{
    
        transform: scale(0);
        
    }
}
