

.bottom-bar{
    position: fixed;
    height: 75px;
    background-color: var(--light-clr);
    bottom: 0;
    z-index: 3 !important;
    
}

.bottom-bar-container{
    
    margin: 0;
    
    display: grid;
    height: 100%;
    padding: 12px 0 0 0;
    grid-template-columns: 1fr 1fr 1fr;
}

.bottom-bar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.bottom-bar-item-title{
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--dark-clr);
    font-weight: 600;
    font-size: var(--fs-xs);
    text-transform:uppercase;
}

.bottom-bar-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none !important;
}

.top-nav{
    background-color: var(--light-clr);
    
    height: 184px;
    position: sticky;
    top: 0;
    box-shadow: none;
    transform: translateY(0%);
    
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 3 !important;
    
}


.nav-mobile{
    background-color: transparent;
    
}

.top-nav .nav-main-section{
    margin-top: 12px;
}


.nav-link-list, .nav-icon-list{
    
    margin: 0 !important;
    padding: 0 !important;
   
}

.nav-icon-list{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.nav-icon-list > li{
    margin: 0;
    
}


.nav-link-list > li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
   
    padding-inline: 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: var(--dark-clr);
    transition: color 0.3s ease-in-out !important;
    font-size: var(--fs-base);
    
}

.nav-link:hover {
    
    color: var(--primary-clr);
}



.categories-brands-expander{
    --_expander-height: 200%;
   
    
    background-color: var(--light-clr);
    
    top: 100%;
    
    height: 60px;
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.categories-brands-expander-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-clr);
    top: 100%;
}

.categories-skeleton{
    height: 100% !important;
    width: 75px !important;
}

.categories-skeleton-container{
    column-gap: 1.75rem;
}
.categories-brands-list{
    
    
    /* padding-block: calc(12px + 0.5rem); */
    padding-left: 0;
    background-color: var(--light-clr);
    margin: 0;
    /* height: 100%; */
    /* column-gap: 1.75rem; */
    display: flex;
    justify-content: center;
   
}

.categories-brands-list-sm{
    
    padding-block: calc(12px + 0.5rem);
    padding-left: 0;
    margin: 0;
    background-color: var(--light-clr);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr );
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.categories-list-container{
    background-color: var(--light-clr);
}
 


.categories-list-promo{
    background-color: var(--primary-clr-800);
    position: relative;
}

.categories-list-promo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.categories-list-promo button{
    border: 1px solid var(--primary-clr-800);
    background-color: var(--primary-clr-800);
    font-size: var(--fs-sm);
    font-weight: 400;
    color: var(--light-clr);
}

.categories-list-promo button:hover{
    
    background-color: var(--primary-clr-800);
    font-size: var(--fs-sm);
    font-weight: 400;
    
}

.categories-brands-list li,.categories-brands-list-sm li {
    padding-inline: 1rem;
    position: relative;
    /* overflow-x: hidden; */
}

.categories-brands-list li > a,.categories-brands-list-sm li > a{
    height: 100%;
    
   font-size: var(--fs-sm);
    text-decoration: none;
    color: var(--dark-clr-800);
    position: relative;
    transition: color 0.3s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.categories-brands-list li {
    min-height: 30px;
    align-items: center;
}
.categories-brands-list-sm li {
    min-height: 50px;
    display: flex;
    align-items: center;
}



.categories-brands-list-sm li > a{
    height: fit-content;
    
   font-size: var(--fs-base);
    text-decoration: none;
    color: var(--dark-clr-800);
    position: relative;
    transition: color 0.3s ease-in-out;
    
}

.categories-brands-list li a::after,.categories-brands-list-sm li a::after{
    content: '';
    position: absolute;
    bottom: 3px;
    
    width: 100%;
    background-color: var(--primary-clr);
    height: 2px;
    scale: 0 1;
    transition: 
        scale 0.3s,
        translate 0.3s;
}

.categories-brands-list li:hover a::after, .categories-brands-list-sm li:hover a::after {
    scale: 1 1;
}

.categories-brands-list li:hover + li a::after {
    translate: -100%;
}

.categories-brands-list li:has(+ :hover)a::after {
    translate: 100%;
}
.categories-brands-list li:hover a, .categories-brands-list-sm li:hover a{
    color: var(--primary-clr);
}
.expander-item:hover{
    height: 100%;
}

.MuiTextField-root{
    width: 100%;
    
}

.nav-icon-link{
    position: relative;
    /* margin-right: calc(6px + 0.25rem); */
    width: calc(24px + 0.5rem) !important;
    height: calc(24px + 0.5rem) !important; 
    display: block;
}

.nav-icon{
    color: var(--dark-clr);
    transition: color 0.3s ease-in-out !important;
    width: calc(24px + 0.5rem) !important;
    height: calc(24px + 0.5rem) !important; 
    
}

.nav-icon >*{
    fill: var(--dark-clr);
    transition: fill 0.3s ease-in-out !important;
}

.nav-icon path{
    height: 27.6833px !important; 
}

.nav-icon:hover{
    color: var(--primary-clr);
    
}

.nav-icon:hover >*{
    fill: var(--primary-clr);
}

.nav-bar-banner{
    
    height: 29.6px;
    transition: height 0.3s ease-in-out;
}



.banner-changed {
    height: 7.4px;
}

.banner-changed ul > li{
    transform: scale(0);
}

.icon-product-counter{
    background-color: var(--primary-clr-600);
    position: absolute;
    top: -33.33%;
    right: -33.33%;
    width: 66.66%;
    aspect-ratio: 1/1;
    border-radius: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: var(--fs-sm);
    font-weight: 500;
}




.hamburger-container{
    background-color: var(--light-clr);
    padding: calc(0.25rem + 6px);
    position: relative;
}

.hamburger-react{
    
    color: var(--dark-clr-800);
}

#cart-btn{
    background-color: transparent;
    border: 0;
    padding: 0;
}

.search-icon-sm{
    height: 48px;
    aspect-ratio: 1/1;
    padding: 0 !important;
}

.search-bar{
    position: relative;
    
}

.search-bar-sm{
    min-height: 75px;
    background-color: var(--light-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}



.search-bar-sm .search-bar .search-suggestions{
    width: 100% !important;
    
}

.search-bar-focused{
    z-index: 9999;
}

.search-suggestions{
    position: absolute;
    top: 100%;
   

    transform: translate(-50%, -50%);
    
    width: 100%;
    min-height: 50px;
    transform-origin: 100% 0;
    transform: scaleY(0);
    background-color: var(--light-clr);
    transition: transform  0.1s  ease-in-out;
    
    padding: 0;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 0px 0px;
}

@-moz-document url-prefix() {
    /* Firefox-specific styles here */
   .search-suggestions{
    /* width: calc(100% - 0.75px); */
   }
}

.search-suggestions-focused{
    position: absolute;
    
    left: 0;
    border: 1px solid var(--primary-clr-600);
    border-top: 0;
   
    transform: scaleY(1);
    transform-origin: 100% 0;
    transition: transform  0.3s 0.3s ease-in-out;
} 

.search-suggestion-item{
    min-height: 50px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.search-suggestion-item-link{
    text-decoration: none;
    color: var(--dark-clr);
}

.search-suggestion-item:nth-child(even){background-color: var(--primary-clr-200);}

.search-suggestion-item:hover{
    background-color: var(--primary-clr-600);
}

.si-highlight{
    font-weight: 700;
}

.search-suggestion-item-img{
    height: 60px;
    aspect-ratio: 1/1.4;
    object-fit: cover;
    object-position: center;
}

.search-bar-backdrop{
   
    z-index: 9998 !important;
}

.logo-link{
    text-decoration: none;
    color: black;
    font-size: var(--fs-lg);
    font-weight: 700;
}

.logo-link-sm{
    background-color: var(--dark-clr);
    color: var(--light-clr);
    border-radius: 6px;
}


@media (max-width: 991px) {
    .top-nav{
        height: fit-content;
        background-color: transparent;
    }
    .nav-box-shadow{
        box-shadow:none;
    }

    
}



@media (min-width: 992px) {
    .nav-position{
        position: sticky;
    }

    .navbar-changed{
        background-color: var(--light-clr);
        transform: translateY(-100%);
        transition: transform 0.3s ease;
        
    }

    
    
}

@media (max-width: 576px) {
    .nav-bar-banner{
    
        height: 7.4px;
        
    }

    .nav-bar-banner ul > li{
    
        transform: scale(0);
        
    }

    .logo-link{
        
        font-size: var(--fs-md);
        
    }
}



