.custom-drawer {
    --_drawer-width: min(90%, 500px);  
}

#cart-bottom{
    width: 100%;
}

#cart-bottom .MuiDrawer-paper {
    width: 100%;
    height: 80%;
    
}

#cart-top{
    min-width: 33%;
    width: var(--_drawer-width);
    position: relative;
    overflow: hidden !important;
    
}

#cart-top .MuiDrawer-paper {
    width: var(--_drawer-width);
   
}

.custom-drawer .MuiDrawer-paper {
    
    
    display: flex;
    flex-direction: column;
}

#custom-drawer-fs{
    min-width: 33%;
    width: var(--_drawer-width);
    position: relative;
    overflow: hidden !important;
    
}

#custom-drawer-fs .MuiDrawer-paper{
    width: var(--_drawer-width);
    
    scrollbar-width: thin !important;
    
    scrollbar-color: var(--primary-clr-600) var(--light-clr) !important;
    
} 

.drawer-title {
    margin-top: 12px;
    padding-inline: 12px;
    min-height: 50px;
    height: 5%;
    text-transform: uppercase;
    font-size: var(--fs-sm);
    font-weight: 600;
    letter-spacing: .03em;
    position: relative;
}



.custom-drawer hr {
    margin: 0;
    margin-block: 12px;
}
.ScrollbarsCustom{
    max-height: 72%;
    margin-bottom: 12px;
}

.ScrollbarsCustom-TrackY{
    top:0 !important;
    width: 8px !important;
    border-radius: 0 !important;
    height: 100% !important;
    background-color: var(--primary-clr-200) !important;
}
.ScrollbarsCustom-ThumbY{
    cursor: default !important;
    border-radius: 0 !important;
    background-color: var(--primary-clr-600) !important;
}

.ScrollbarsCustom-Content{
    padding: 0 !important;
    padding-inline: 12px !important;
}

.cart-scroll{
    max-height: 72%;
    margin-bottom: 12px;
    overflow-y: scroll;
    scrollbar-width: thin !important;
    scrollbar-gutter: stable both-edges;
    scrollbar-color: var(--primary-clr-600) var(--light-clr) !important;
    padding-inline-end: 8px;

}
.drawer-list, .drawer-list-sf {
    
    margin: 0;
    max-height: 70%;
    width: 100%;
    padding: 0;
   
    z-index: 0;
  
}



.drawer-list-sf li{
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c7c7c7;
    padding-inline: 12px;
    
    transition: background-color 0.3s ease-in-out;
}

.filter-accordion{
    border-radius: 0 !important;
    box-shadow: none !important;
    width: 100%;
    min-height: 75px !important;
    height: 100% !important;
   
}

.filter-accordion-title{
    min-height: inherit !important;
}
.filter-accordion > * {
    margin: 0 !important;
    padding: 0 !important;
}

.filter-option{
    border-bottom: 1px solid #c7c7c7;
    min-height: calc(30px + 1rem) !important;
}

.filter-option:last-of-type{
    border: 0;
}

.fs-option-title{
    font-weight: 600;
}

.filter-option-clr-box{
    width: 20px;
    height: 20px;
    border: 1px solid var(--dark-clr);
    margin-left: 6px;
    border-radius: 100%;
    
}

.selected-colors{
    margin-left: 0.5rem;
}

.selected-colors:nth-of-type(1){
    margin-left: 0rem;
}

.selected-colors:nth-of-type(4){
    margin-left: 0rem;
}


.selected-brands{
    margin-left: 0.5rem;
}

.selected-brands:nth-of-type(1){
    margin-left: 0rem;
}

.selected-brands:nth-of-type(4){
    margin-left: 0rem;
}
.drawer-list-sf li button{
    aspect-ratio: 1/1;
    min-width: 33px;
    border: 0;
    background-color: transparent;
}

.sf-active{
    background-color: var(--primary-clr-600) !important;
}

#divider-sf{
    margin-bottom: 0;
}

.sort-option-icon{
    aspect-ratio: 1/1;
    min-width: 33px;
    
    background-position: center;
    background-size: contain;
}

#asc{
    background-image: url('../../resources/icons/sort_desc_icon.svg');
}

#desc{
    background-image: url('../../resources/icons/sort_asc_icon.svg');
}

#asc.name-sort{
    background-image: url('../../resources/icons/sort_za_icon.svg');
}

#desc.name-sort {
    background-image: url('../../resources/icons/sort_az_icon.svg');
}

.drawer-list-item {
    margin-block: 16px;
}
.drawer-list-item:last-child{
    margin-bottom: 0;
} 


.drawer-list-item:not(:last-child)::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -16px;
    left: 0;
    height: 1px;
    background-color: #d3d0d0;
}

.drawer-list-item p {
    height: fit-content;
    margin-bottom: 0;
}

.drawer-list-item-link{
    width: 17.5%;
    aspect-ratio: 1/1.5;
}

.drawer-list-item img {
    width: 100%;
    aspect-ratio: 1/1.5;
    object-fit: cover;
    object-position: center;
}

.drawer-list-item-description p {
    color: var(--dark-clr);
    font-size: var(--fs-sm);
}

.drawer-list-item-description p:nth-of-type(1) {
    
    font-weight: 600;
}

.drawer-list-item-description p:nth-of-type(2){
    
    font-weight: 500;
}


.drawer-list-item-description p:nth-of-type(3) {
   
    font-weight: 400;
    color: #727272;
}

.drawer-list-item-description p:nth-of-type(4) {
    position: absolute;
    right: 0;
    bottom: 0;
    
    font-weight: 600;
}

.quantity-container {
    margin-top: auto;
}

.quantity-container div {
    height: 100%;
    aspect-ratio: 1/1;
    font-size: var(--fs-sm);
}

.quantity-btn {
    min-width: 0 !important;
    min-height: 36px;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    box-shadow: none;
    border-radius: 2px !important;
    border: 1px solid var(--primary-clr-600)!important;
    color: var(--dark-clr) !important;
    font-size: var(--fs-base) !important;
    font-family: 'Poppins' !important;
    font-weight: 300 !important;
    transition: background-color 0.3s ease-in-out !important;
}

.quantity-btn:hover{
    background-color: var(--primary-clr-600) !important;
    
}

.remove-item-btn {
    position: absolute !important;
    top: 0;
    right: 0;
    width: calc(16px + 0.25rem);
    height: calc(16px + 0.25rem);
}

.remove-item-btn svg {
    width: calc(16px + 0.25rem);
    height: calc(16px + 0.25rem);
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root.Mui-disabled{
    color: #d3d0d0 !important;
    border-color: #d3d0d0!important;
}

.drawer-total-description {
   
    
    padding-inline: 12px;
    padding-top: 6px;
    
    margin-bottom: 12px;
    margin-top: auto;
    background-color: #fff;
    z-index: 3 !important;
}

.drawer-total-description li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer-total-description li p {
    margin-bottom: 0;
    font-size: var(--fs-sm);
}

.drawer-total-description li:nth-of-type(2) {
    margin-bottom: 12px;
}

.drawer-total-description li:nth-of-type(2) {
    display: flex;

}

.drawer-total-description li:nth-of-type(2) span:nth-of-type(1) {
    display: flex;
    align-items: center;
    font-size: var(--fs-sm);
}

.drawer-total-description li:nth-of-type(2) span div {
    color: var(--light-clr);
    background-color: #d3d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--fs-sm);
    height: var(--fs-sm);

    border-radius: 100%;
    margin-left: 6px;
    font-size: var(--fs-sm) !important;
    font-weight: 600;
    user-select: none;
}

.base-Popper-root div {
    font-size: var(--fs-sm) !important;
    font-family: 'Poppins';
    font-weight: 300;
    margin-left: 6px !important;
}

.drawer-total-description li:nth-of-type(3) p {
    font-size: var(--fs-base);
    font-weight: 600;
}

.drawer-total-description li:nth-of-type(4) {
    margin-top: 24px;
    margin-bottom: 12px;
}
.drawer-total-description li:last-child {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.drawer-total-description ul {
    
    padding-left: 0;
    
}

.drawer-total-description li ul li {
    min-height: 12px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.drawer-total-description li ul li:nth-of-type(1){
    background-image: url('../../resources/icons/Logo_PayPal.svg'); 
}

.drawer-total-description li ul li:nth-of-type(2){
    background-image: url('../../resources/icons/Logo_Visa_Inc.svg'); 
}

.drawer-total-description li ul li:nth-of-type(3){
    background-image: url('../../resources/icons/Logo_Mastercard.svg'); 
}

.drawer-total-description li ul li:nth-of-type(4){
    background-image: url('../../resources/icons/Logo_Mobile_Pay.svg'); 
}

.checkout-btn {
    min-height: 64px;
    color: var(--light-clr) !important;
    font-family: 'Poppins' !important;
    font-size: var(--fs-base) !important;
    border-radius: var(--btn-border-radius) !important;
    letter-spacing: .03em !important;
    background-color: var(--dark-clr) !important;
    transition: background-color 0.3s ease-in-out;
}

.checkout-btn:hover, .checkout-btn:focus{
    background-color: var(--tertiary-clr-800) !important;
}

@media (width > 1920px) {
    .custom-drawer {
        --_drawer-width: 1000px;
        
    }
    .cart-scroll{
        padding-inline-end: 0;
    }
    .drawer-list{
        width: 99%;
    }

    .custom-drawer .MuiDrawer-paperAnchorRight{
        padding-inline: calc(12px + 0.25vw);  
    }

    .quantity-btn{
        border-width: 2px !important;
    }

    .remove-item-btn{
        top: 1em;
        right: 1em;
    }
}


@media (max-width: 992px) {
    .remove-item-btn {
        width: 32px;
        height: 32px;
    }
    .remove-item-btn svg {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}