.promotion-banner{
    
    background-color: var(--primary-clr-600);
    
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    transition: height 0.3s ease-in-out;
}

.promotion-banner-alt{
    position: sticky;
    top: -60px;
    background-color: var(--light-clr);
    padding: 0;
    z-index: 0;
    
    height: 60px;
    margin-bottom: 0;
}

.promotion-banner-alt li{
    color: var(--tertiary-clr);
    background-color: var(--secondary-clr);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-banner-alt li p{
    margin: 0;
    font-weight: 600;
    font-size: var(--fs-base);
}

.promotion-banner > li {
    padding: 0;
    color: var(--dark-clr); 
    font-size: var(--fs-sm);
    transition: transform 0.3s ease-in-out;
}

@media (width > 1920px) {
    .promotion-banner-alt{
        top: calc(-60px - 0.5vw); 
        height: calc(60px + 0.5vw);

    }

    .promotion-banner-alt li{
        height: 66.66%;
    }
}

@media (max-width: 768px) {
    .promotion-banner > li {
       
        
        font-size: var(--fs-sm);
    }
}

@media (max-width: 992px) {

    .promotion-banner-alt{
        
        top: 97.6px;
        
    }
    
}

@media (max-width: 575px) {

    .promotion-banner-alt{
        
        top: 75.4px;
        
    }
    
}