.promotion-banner{
    
    background-color: var(--primary-clr-light);
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    transition: height 0.3s ease-in-out;
}

.promotion-banner-alt{
    position: absolute;
    top: 124px;
    background-color: var(--light-clr);
    padding: 0;
    z-index: 0;
    list-style: none;
    height: 60px;
}

.promotion-banner-alt li{
    color: var(--tertiary-clr);
    background-color: var(--tertiary-clr-light);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-banner-alt li p{
    margin: 0;
    font-weight: 600;
    font-size: var(--fs-base);
}

.promotion-banner > li {
    padding: 0;
    color: var(--light-clr); 
    font-size: var(--fs-sm);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .promotion-banner > li {
       
        
        font-size: var(--fs-sm);
    }
}

@media (max-width: 992px) {

    .promotion-banner-alt{
        
        top: 97.6px;
        
    }
    
}

@media (max-width: 575px) {

    .promotion-banner-alt{
        
        top: 75.4px;
        
    }
    
}