.clothing-page-container{
    --_padding-inline: calc(6px + 0.25rem + 5vw);
    
    min-height: 50svh;
    position: relative;
    
    
    
}

@media (max-width: 992px) {
    .clothing-page-container{
        
        padding-inline: 10px;
    }
}

@media (max-width: 575px) {
    .clothing-page-container{
        padding-inline: 10px;
        
    }
}

.breadcrumbs{
    padding-block: calc(24px + 0.25rem);
    
}



.breadcrumbs ol li a{
    color: var(--dark-clr);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    position: relative;
    
}

.breadcrumbs ol li {
    font-size: var(--fs-sm);
    
}

.breadcrumbs ol li a::before{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--primary-clr);
    
    transition: width 0.3s ease-in-out;
}

.breadcrumbs ol li a:hover{
    color: var(--primary-clr);
}

.breadcrumbs ol li a:hover::before {
    width: 100%;
}


.breadcrumbs-current-page{
    margin: 0;
   
}

.clothing-page-container h1{
    color: var(--dark-clr);
    font-size: var(--fs-lg);
    font-weight: 700;
}

.clothing-page-container div{
    
    font-size: var(--fs-sm);
}
.filter-drawer-btn{
    
    color: var(--dark-clr) !important;
    font-weight: 400 !important;
    text-transform: capitalize !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out !important;
}

.filter-drawer-btn:hover{
    background-color: var(--primary-clr-light-faded) !important;
    color: var(--primary-clr) !important;
    font-weight: 400 !important;
}

.item-count{
    font-size: var(--fs-sm);
}

.load-more-btn{
    border: 1px solid var(--primary-clr-light-faded) !important;
    background-color: transparent;
    color: var(--dark-clr) !important;
    font-weight: 400 !important;
    padding: calc(6px + 0.2rem) !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out !important;
}

.load-more-btn:hover{
    color: var(--primary-clr) !important;
    background-color: var(--primary-clr-light-faded) !important;
}

.load-more-btn:disabled{
    pointer-events: none;
    background-color: var(--primary-clr-light-faded);
}

.MuiLinearProgress-root{
    background-color: var(--primary-clr-light-faded) !important;
}

.MuiLinearProgress-root span{
    background-color: var(--primary-clr-light) !important;
}

.browsing-skeleton{
    
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    border-radius: 0 !important;
    transform-origin: 0 !important;
    max-width: none !important;
    min-height: 80svh;
}