@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --light-clr: #ffffff;
  --light-clr-accent: #f4f4f1bd;
  --light-clr-bg: #f1f1f1;

  --primary-clr: #c05065;
  --primary-clr-800: #b86776;
  --primary-clr-600: #ffdce0;
  --primary-clr-400: #fde4e7;
  --primary-clr-200: #fdf6f7;

  --secondary-clr: #f2ecdf;


  --tertiary-clr: #295036;
  --tertiary-clr-800: #407c54;

  --dark-clr: #292929;
  --dark-clr-800: #494949;

  --success-clr: #37dd12;
  --warning-clr: #edb95e;
  --error-clr: #e23636;
  --danger-clr: #df1b41;

  --fs-xs: clamp(0.64rem, -0.12vw + 0.66rem, 0.57rem);
  --fs-sm: clamp(0.8rem, -0.08vw + 0.82rem, 0.75rem);
  --fs-base: clamp(1rem, 0vw + 1rem, 1rem);
  --fs-md: clamp(1.25rem, 0.13vw + 1.22rem, 1.33rem);
  --fs-lg: clamp(1.56rem, 0.34vw + 1.49rem, 1.77rem);
  --fs-xl: clamp(1.95rem, 0.67vw + 1.82rem, 2.35rem);
  --fs-2xl: clamp(2.44rem, 1.15vw + 2.21rem, 3.13rem);
  --fs-3xl: clamp(3.05rem, 1.85vw + 2.68rem, 4.16rem);
  --fs-4xl: clamp(3.81rem, 2.87vw + 3.24rem, 5.53rem);
  --fs-5xl: clamp(4.77rem, 4.32vw + 3.9rem, 7.36rem);
  --fs-title: clamp(5.96rem, 6.38vw + 4.68rem, 9.79rem);


  --btn-border-radius: 6px;
  --item-border-radius: 3px;

  --padding-top-sm: calc(75.5px + 60px);
  --padding-top-md: calc(97.6px + 60px);
  --padding-top-lg: calc(184px + 60px);

  --radius: 12px;
  --padding-top: calc(124px + 60px + 0.5rem);
}



@supports (-moz-appearance:none) {
  html {
    scroll-behavior: smooth !important;

  }
}

html {
  /* -ms-overflow-style: none !important;*/

  scrollbar-width: thin !important;
  scrollbar-color: var(--primary-clr-600) var(--primary-clr-200) !important;
  --scrollbar-width-legacy: 8px !important;

}

body {

  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .03em !important;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.discount {
  position: absolute;
  left: 0;
  top: 10px;
  min-width: 10%;
  background-color: #186506;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.discount p {
  color: var(--light-clr);
  font-size: var(--fs-xs);
}

.sale-icon {
  width: calc(12px + 0.25rem) !important;
  height: calc(12px + 0.25rem) !important;
}

.sale-icon path {
  fill: transparent;
  stroke: var(--light-clr);
}

.discount-former {
  position: relative;
}

.discount-former::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--dark-clr);
  top: calc(50% - 1px);
}

.discount-current {
  color: #186506;

}

.bestseller {
  position: absolute;
  right: 0;
  bottom: 10px;
  min-width: fit-content;
  width: 30%;
  background-color: var(--primary-clr-600);
}

.bestseller p {
  color: var(--dark-clr);
  font-size: var(--fs-sm);
  text-transform: uppercase;
  font-weight: 600;
}

.bestseller-icon {
  width: var(--fs-md) !important;
  height: var(--fs-md) !important;
}

.bestseller-icon path {
  fill: #ffc400;

}

ul {
  list-style: none;
}

@media (width > 1920px) {
  :root {
    --fs-xs: calc(12px + 0.5vw);
    --fs-sm: calc(16px + 0.5vw);
    --fs-base: calc(28px + 0.25vw);
    --fs-md: calc(32px + 0.33vw);
    --fs-lg: calc(36px + 0.5vw);
    --fs-xl: calc(36px + 0.75vw);
    --fs-2xl: calc(56px + 1.25vw);
    --fs-3xl: clamp(3.05rem, 1.85vw + 2.68rem, 4.16rem);
    --fs-4xl: clamp(3.81rem, 2.87vw + 3.24rem, 5.53rem);
    --fs-5xl: calc(128px + 3vw);
    --fs-title: clamp(5.96rem, 6.38vw + 4.68rem, 9.79rem);
  }

  .MuiSvgIcon-fontSizeMedium{
    width: 2em !important;
    height: 2em !important;
  }
}

@media (width < 576px) {
  .discount p{
    font-size: var(--fs-base);
  }
}